@mixin breakpoint-width-less($point) {
	@media all and (max-width: $point)  { @content; }  
}
@mixin breakpoint-width-more($point) {
	@media all and (min-width: $point)  { @content; }  
}

$admin-ok-color: #cf5646;
$admin-error-color: #83b19a; 

$admin-green-color: #00c3aa;
$admin-dark-color: rgba(0,0,0, 0.6);
$admin-darker-color: rgba(0,0,0, 0.2);
$admin-violet-color: #7e3bd0;
$admin-red-color:  #ff4136;
$admin-font-weight: 600;
$admin-accent-color: $admin-red-color;
$border-radius: 3px;

$translatable-color: $admin-green-color;
$translatable-width: 3px;

$admin-lighter-color: rgba(255,255,255, 0.8);
$admin-light-color: rgba(255,255,255, 0.4);

$transition-time: 0.3s;
$transition-func: ease-in-out;

.tplus_error { color:$admin-error-color; }
.tplus_ok { color:$admin-ok-color; }
.tplus_accent { color:$admin-accent-color; }

// General WP changes ---------------------------------------------------------]

.wp-admin {
	#timestamp {
	    font-size: 12px;
	}
}

// Translatable markers ------------------------------------------------------]

input, textarea, div {
 &.qtranxs-translatable {
        border-left: $translatable-width solid $translatable-color !important;
    }
}

// Buttons & Language ------------------------------------------------------]

$inactive-color: #bbb;
$active-color: $admin-green-color;
$lspacing: 0.4pt;

.qtranxs-lang-switch-wrap {
	opacity: 1;
	transition: opacity $transition-time $transition-func;
	
	@at-root {
		.wp-admin {
			#excerpt + p { display: none;}
			#save_menu_header {
				@include breakpoint-width-less(1200px) { display: none;}
			}
			#menu-name {
				@include breakpoint-width-less(1100px) { width: 170px;}
			}
			&.edit-php {
				.subtitle {
					margin-left: 200px;
				}
				#posts-filter {
					position: relative;
				}
			}
		}
	}

	// Position for lang switcher
	.widget-liquid-right & {
		width: auto;
		position: absolute;
		z-index: 3;
		margin-top: -33px;
	}
	#posts-filter & {
	    width: auto;
	    position: absolute;
	    top: -34px;
	    left: 170px;
	}
	#post-body-content & {
		width: auto;
	    position: absolute;
	    top: -44px;
	    right: -200px;
	    z-index: 3;
	    #nav-menus-frame & {
		    top: -60px;
		    right: auto;
			left: 380px;
			@include breakpoint-width-less(1100px) { left: 260px;}
	    }
	    .post-php &, .post-new-php & {
		    width: 100%;
	    }
	}

	// Hide lang switcher
	.menu.ui-sortable + &, 
	#widgets-right + &,
	.postarea + & {
		display: none;
	}
	
	#message ~ #post & {
		opacity: 0;
	}
	

	#qtranxs-meta-box-lsb & {
		padding: 5px 10px 0;
	}

	.subsubsub + & {
	  clear: both;
	  padding: 10px 0;
	}

	.qtranxs-lang-switch {
		color: $admin-dark-color !important;
	    background-color: $inactive-color;
	    background-image: none;
	    font-size: 14px;
	    font-weight: $admin-font-weight;
	    border: 2px solid $active-color !important;
	    border-radius: $border-radius;
	    margin: 0 6px 6px 0;
	    padding: 3px 6px 4px 10px;
	    cursor: pointer;
	    text-decoration: none !important;
	    letter-spacing: $lspacing;
		transition: all $transition-time $transition-func;
		transition-property: color, background-color, border-color;
	    &.active {
		 	background-color: $active-color;
		 	border-color: darken($active-color, 5) !important;
			cursor: default;
		}
		&:not(.active):hover {
		 	border-color: darken($active-color, 5) !important;
		 	background-color: lighten($active-color, 20);			
		}
		.qtx-flags-disabled & {
			img {
				display: none;
			}
		}
	}
}

// Lang indicators & Copy Buttons ---------------------------------------------]

.tplus_copy_content {
	@at-root {
		.qtranxs-lang-copy-li { display: none;}		
	}
    border: 2px solid;
    border-radius: $border-radius;
	color: $admin-violet-color;
    display: inline-flex;
    font-size: 13px !important;
    font-weight: 600;
    letter-spacing: $lspacing;
    margin-left: 20px;
    top: 1px;
    line-height: 26px;
    padding: 0 12px;
    position: relative;
    cursor: pointer;
	transition: all $transition-time $transition-func;
	transition-property: color, background-color, border-color;
	&:hover {
		color: white !important;
		background-color: $admin-violet-color;
		border-color: darken($admin-violet-color, 10);
	}
	&.alt-pressed {
		transition-duration: 0.1s;
		color: darken($admin-red-color, 20) !important;
		border-color: darken($admin-red-color, 10);		
		background-color: lighten($admin-red-color, 30);
		&:hover {
			color: white !important;
			border-color: darken($admin-red-color, 30);
			background-color: darken($admin-red-color, 10);
		}
	}
}

.tplus_lang {
	position: absolute;
	border-radius: 12px;
	background-color: rgba($admin-green-color, 0.2);
	border: 2px solid $admin-green-color;
	color: $admin-dark-color;
	font-weight: $admin-font-weight !important;
	letter-spacing: $lspacing;
	display: inline-block;
	padding: 0 10px 2px;
	margin: -2px 0 3px 10px;	
	font-size: 13px !important;
}

.tplus_admin_button {
	@extend .tplus_lang;
	background-color: $admin-accent-color;
	color: $admin-dark-color !important;
	border: 2px solid $admin-dark-color;
	cursor: pointer;
	&:hover {
		background-color: darken($admin-accent-color, 7%);
	}
}

/*
.tplus_do_not_change {
	background-color: #222;
	color: orange;
}

.tplus_lang_childs {
    list-style-type: circle;
    padding-left: 30px;
}

.wpcf-pr-has-title {
	color: $admin-error-color;
}
*/

// QTX SEO support ------------------------------------------------------------]

.qtx-seo-enabled {
	th#qtx_seo, .column-qtx_seo { display: none;}	
	#qtx_seo_value { display: none;}
	
	.wpseo-score-icon.empty {
		background-color: transparent;
		border: 1px solid #666;
	}
}

// Hide advertising -----------------------------------------------------------]

#itsec-sidebar-widget-pro-upsell,
#itsec-sidebar-widget-mail-list-signup,
#itsec-sidebar-widget-form-backupbuddy-cross-promo,
#itsec-sidebar-widget-form-malware-scan,
#itsec-sidebar-widget-form-sync-cross-promo,
#itsec-sidebar-widget-form-support,
.itsec-module-pro-upsell,  
#toplevel_page_itsec ul li:nth-child(5),
a[title*="BBQ Pro"]
{ display: none !important;}
