@import "common";

// Lang Control Component -----------------------------------------------------]

$select-item-class: zukit-select-item;
$lang-control-class: components-zu-lang-control;

$lang-control-height: 50px;

.#{$lang-control-class} {
	margin-top: 12px;
	.#{$select-item-class}__button-wrapper{
		&.is-selected {
			box-shadow: none;
			.components-button {
				background-color: $zutranslate-selected-color;
				color: $zutranslate-selected-text-color;
				position: relative;
				opacity: $zutranslate-selected-button-opacity;
				svg {
					position: absolute;
					top: -13px;
					left: 5px;
					background-color: $zutranslate-selected-text-color;
					border-radius: 50%;
					padding: 4px;
					fill: white;
				}
				span {
					font-weight: 300;
				}
			}
		}
	}

	.components-button.components-button {
		height: $lang-control-height;
		background-color: $zutranslate-unselected-color;
		transition-property: background-color, color;
		transition-duration: $transition-time;
		transition-timing-function: $transition-function;
		&:hover {
			background-color: $zutranslate-hover-color !important;
			color: $zutranslate-hover-text-color !important;
		}

		.__lang {
			width: 100%;
			letter-spacing: 1px;
			font-weight: 400;
			font-family: $zutranslate-font-family;
			&.__with-flags {
				font-size: 15px;
			}
			.__flag {
				margin-right: 6px;
			}
		}
	}

}
