@import "common";

// Lang Control Component -----------------------------------------------------]

$select-item-class: zukit-select-item;
$lang-control-class: components-zu-lang-control;
$copy-control-class: components-zu-copy-control;

$lang-control-height: 50px;
$copy-control-height: 40px;

$copy-control-toggle-thumb-color: darken($zutranslate-copy-color, 12);
$copy-control-toggle-color: $zutranslate-copy-selected-color;
$copy-control-toggle-check-color: $zutranslate-copy-selected-text-color;

$copy-control-button-color: rgba($zutranslate-copy-selected-color, 0.3);
$copy-control-button-border-color: rgba($zutranslate-copy-selected-text-color, 0.3);
$copy-control-flashing-end-color: $red-color;

.#{$lang-control-class} {
	margin-top: 12px;
	margin-bottom: 8px !important;
	.#{$select-item-class}__button-wrapper {
		margin-top: 6px;
		&.is-selected {
			box-shadow: none;
			.components-button {
				background-color: $zutranslate-selected-color;
				color: $zutranslate-selected-text-color;
				position: relative;
				opacity: $zutranslate-selected-button-opacity;
				svg {
					position: absolute;
					top: -13px;
					left: 5px;
					background-color: $zutranslate-selected-text-color;
					border-radius: 50%;
					padding: 4px;
					fill: white;
				}
				span {
					font-weight: 300;
				}
			}
			.components-button:focus:not(:disabled) {
				box-shadow: 0 0 0 1px $zutranslate-selected-text-color !important;
			}
		}
	}

	.components-button.components-button {
		height: $lang-control-height;
		background-color: $zutranslate-unselected-color;
		border-color: $zutranslate-unselected-border-color;
		transition-property: background-color, color;
		transition-duration: $transition-time;
		transition-timing-function: $transition-function;
		&:hover {
			background-color: $zutranslate-hover-color !important;
			color: $zutranslate-hover-text-color !important;
		}

		.__lang {
			text-overflow: ellipsis;
			overflow: hidden;
			padding: 0 5px;
			width: 100%;
			letter-spacing: 1px;
			font-weight: 400;
			font-family: $zutranslate-font-family;
			&.__with-flags {
				font-size: 15px;
				margin-top: 3px;
			}
			.__flag {
				margin-right: 6px;
				border: 1px solid $admin-disable-text-color;
			}
		}
	}
}

.#{$copy-control-class} {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.components-button.components-button {
		border-radius: 4px;
		box-shadow: none;
		height: $copy-control-height;
		transition-property: background-color, color, box-shadow;
		transition-duration: $transition-time;
		transition-timing-function: $transition-function;
	}

	&__action {
		margin-left: 3px;
		width: calc(50% - 12px);
		justify-content: center;
		border: 1px solid $copy-control-button-border-color;
		background-color: $copy-control-button-color;
		color: $zutranslate-copy-selected-text-color;
		&:hover, &:active:not([aria-disabled="true"]) {
			background-color: $zutranslate-copy-selected-color;
			color: white;
		}
		&:focus:not(:disabled):not(.is-flashing) {
			box-shadow: 0 0 0 1px $zutranslate-copy-selected-text-color !important;
		}
		&.is-flashing {
			animation: flashing-shake 1000ms ease-out infinite;
			box-shadow: 0 0 0 1px $copy-control-flashing-end-color;
			color: white;
			@at-root {
				@keyframes flashing-shake {
					0% { transform: skewX(-15deg); }
					5% { transform: skewX(15deg); }
					10% { transform: skewX(-15deg); }
					15% { transform: skewX(15deg); }
					20% { transform: skewX(0deg); }
					30% { background-color: $copy-control-flashing-end-color; }
					100% { transform: skewX(0deg); }
				}
			}
		}
	}
	&__lang {
		color: $zutranslate-copy-selected-text-color;
		&:hover {
			background-color: rgba($zutranslate-copy-selected-text-color, 0.05);
			color: $zutranslate-copy-selected-text-color;
		}
		&:focus:not(:disabled) {
			box-shadow: 0 0 0 1px rgba($zutranslate-copy-selected-text-color, 0.3) !important;
		}
	}
	.components-button[aria-expanded="true"] {
		color: $zutranslate-copy-selected-text-color;
	}

	&__arrow {
		display: flex;
		align-items: center;
	}

	> span {
		display: none;
	}

	&__toggle {
		margin-top: 12px;
		.components-form-toggle {
			.components-form-toggle__track {
				border-color: $copy-control-toggle-color;
			}
			.components-form-toggle__thumb {
				background-color: $copy-control-toggle-thumb-color;
				border-color: $copy-control-toggle-thumb-color;
			}
			&.is-checked {
				.components-form-toggle__track {
					background-color: $copy-control-toggle-check-color;
				}
				.components-form-toggle__thumb {
					background-color: #fff;
				}
			}
			.components-form-toggle__input:focus + .components-form-toggle__track {
				box-shadow: 0 0 0 2px #fff, 0 0 0 4px $copy-control-toggle-color;
			}
		}
	}

	&__popup {
		margin-top: 2px !important;
		.components-popover__content {
			margin-right: -48px !important;
		}
		.components-button {
			outline: 1px solid rgba($zutranslate-copy-selected-text-color, 0.1) !important;
			border-left: 4px solid transparent;
			padding-left: 8px;
			box-shadow: none !important;
			.components-menu-items__item-icon.has-icon-right {
				margin: 0 10px 0 0;
				border: 1px solid $admin-disable-text-color;
				min-width: 10px;
			}
			&:focus:not(:disabled) {
				border-left-color: $zutranslate-copy-selected-text-color;
			}
		}
	}
}
