// Settings Appearance --------------------------------------------------------]

$settings-help-color: #783f3a;
$settings-help-em-color: #fbb0b8;
$settings-help-code-color-bg: #e8a723;
$settings-help-code-color: #986b10;

.components-base-control__help {
	color: $settings-help-color !important;
	font-style: normal !important;
	em {
		background-color: rgba($settings-help-em-color, 0.2) !important;
		color: $settings-help-color !important;
		// font-style: normal !important;
		letter-spacing: 1px;
	}
	.__code {
		background-color: rgba($settings-help-code-color-bg, 0.1) !important;
		color: $settings-help-code-color !important;
	}
}
.__sidebyside.__list {
	margin-top: 8px;
	.components-base-control__help, .components-base-control__label {
		margin-bottom: 0;
	}
}
.__supported {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
	column-gap: 20px;

	.components-checkbox-control {
		.components-base-control__field {
			margin-bottom: 4px;
		}
		.components-base-control__help.components-base-control__help {
			margin-left: 0;
			text-align: left;
			font-weight: 400;
			opacity: 0.8;
		}
	}

	.components-panel__body + & {
		padding: 16px;
	}
}

.__custom {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}

.__note {
	margin-bottom: 0 !important;
	& + .components-panel__body.__subtitle {
		border-top-width: 0;
	}
}
.components-panel__body.__subtitle + .__flex.__right {
	margin-top: 16px;
}
