text eol=lf

.gitattributes export-ignore
.gitignore export-ignore

# Archive ignore stuff

zukit/src export-ignore
zukit/*.json export-ignore
zukit/*.md export-ignore
zukit/*.sh export-ignore
zukit/.* export-ignore
