// Admin Text Control Component -----------------------------------------------]

$advtext-width: 580px;
$advtext-button-height: 30px;
$advtext-button-width: 36px; // svg 20px + margin 8px * 2

.#{$advtext-component-class} {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	max-width: $advtext-width;
	.components-base-control {
		width: 100%;
	}
	.components-button {
		position: relative;
		bottom: 8px;
		right: $advtext-button-width - 1; // to cover border

		height: $advtext-button-height;
		width: $advtext-button-width;
		color: $custom-button-text-color;
		background-color: $custom-button-color;
		border: 1px solid $custom-button-border-color;
		border-radius: 0 3px 3px 0;
		box-shadow: none;
		&:hover {
			box-shadow: none !important;
			background-color: $custom-button-hover-color !important;
			color: $custom-button-hover-text-color !important;
		}
	}
}
