// Admin Select Item Component ------------------------------------------------]

$select-item-digits-height: 60px;
$select-item-wrapper-padding: 5px;
$select-item-null-stripe-size: 5px;
$select-item-hover-color: $brand-color;
$select-item-bg-hover-color: rgba($brand-color, 0.08);
$select-item-border-hover-color: rgba($brand-color, 0.4);

$select-item-selected-color: $wp-gray-900;
$select-item-selected-bg-color: rgba($select-item-selected-color, 0.07);
$select-item-selected-border-color: rgba($select-item-selected-color, 0.4);

$select-item-disabled-color: $brand-color;
$select-item-disabled-bg-color: rgba($select-item-disabled-color, 0.07);
$select-item-disabled-border-color: rgba($select-item-disabled-color, 0.4);

$select-item-basic-border-color: rgb(25, 30, 35);

.#{$selectitem-component-class} {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: left;

	.components-base-control__field {
		width: 100%;
		margin: 0;
	}

	.components-button-group {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
	}

	.#{$selectitem-component-class}__button-wrapper {
		border-radius: 4px;
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		list-style: none;
		margin: $admin-button-wrapper-margin 0;
		padding: $admin-button-wrapper-padding;
		width: calc(100% - #{twice($admin-button-wrapper-padding)});
		z-index: 0;

		&.is-selected {
			box-shadow: none;
			.components-button, .components-button:hover {
				pointer-events: none;
				background-color: $select-item-disabled-bg-color;
				border-color: $select-item-disabled-border-color;
				color: $select-item-disabled-color;
				opacity: 0.5;
				@include in('<<.__recap') {
					background-color: $select-item-selected-bg-color;
					border-color: $select-item-selected-border-color;
					color: $select-item-selected-color;
				}
				.is-null {
					opacity: 0.5;
				}
			}
		}

		// &.is-selected {
		//
		// 	box-shadow: 0 0 1px 2px $admin-control-selected-color;
		// 	@include in('<.__selector') {
		// 		box-shadow: none;
		// 	}
		// }

        &.is-disabled {
            .components-button {
                pointer-events: none;
				background-color: $select-item-disabled-bg-color;
				border-color: $select-item-disabled-border-color;
				color: $select-item-disabled-color;
            }
        }
		&.is-slot {
            .components-button {
				width: 100%;
				height: 100%;
                pointer-events: none;
				background-color: transparent;
				border-color: rgba($wp-gray-200, 0.4);
				color: transparent;
            }
        }
		&.is-null {
            .components-button {
				width: 100%;
				height: 100%;
            }
        }

        @include in('<.__2columns') { width: calc(50% - #{twice($admin-button-wrapper-padding)}); }
        @include in('<.__3columns') { width: calc(33% - #{twice($admin-button-wrapper-padding)}); }
		@include in('<.__4columns') { width: calc(25% - #{twice($admin-button-wrapper-padding)}); }
		@include in('<.__5columns') { width: calc(20% - #{twice($admin-button-wrapper-padding)}); }

		@include in('<.__box') {
			padding: 0 !important;
			&:first-child {
				.components-button {
					border-top-left-radius: $admin-control-border-radius !important;
					border-bottom-left-radius: $admin-control-border-radius !important;
				}
			}
			&:last-child {
				.components-button {
					border-right-width: $admin-control-border-box-size !important;
					border-top-right-radius: $admin-control-border-radius !important;
					border-bottom-right-radius: $admin-control-border-radius !important;
				}
			}
		}

		@include in('<.__digits') {
			&.__2columns { width: calc(50%); }
			&.__3columns { width: calc(33%); }
			&.__4columns { width: calc(25%); }
			&.__5columns { width: calc(20%); }
			&.is-selected {
				box-shadow: none;
				// need here to add more CSS specificity
				.components-button {
					background-color: $admin-control-selected-color;
					color: $admin-control-text-color;
				}
			}
		}
	}

	.#{$selectitem-component-class}__button.components-button {
		align-items: center;
		background-color: white;
		border: 1px solid rgba($select-item-basic-border-color, 0.2);
		box-shadow: none;
		border-radius: 3px !important;
		height: auto;
		margin: 0;
		padding: 0;
		width: 100%;
		transition-property: background-color, color, border-color;
		transition-duration: $transition-time;
		transition-timing-function: $transition-function;
		box-shadow: none !important;

		&:hover {
			color: $select-item-hover-color !important;
			background-color: $select-item-bg-hover-color !important;
			border-color: $select-item-border-hover-color !important;
		}
		&.is-clickable {
			pointer-events: all;
		}

        // @include in('^.is-disabled') {
        //     border-color: $admin-disable-border-color;
        //     background-color: $admin-disable-background-color;
        //     color: $admin-disable-text-color;
        // }

        svg {
            fill: currentColor;
        }

		.is-null {
			width: 100%;
			height: 100%;
			border-radius: 3px !important;
			opacity: 0.1;
			background: repeating-linear-gradient(
			  45deg,
			  currentColor,
			  currentColor $select-item-null-stripe-size,
			  rgba(black, 0.05) $select-item-null-stripe-size,
			  rgba(black, 0.05) twice($select-item-null-stripe-size)
			);
		}

		.__wrapper {
			line-height: 0;
			font-size: 0;
			width: 100%;
			height: 100%;
			padding: $select-item-wrapper-padding;
		}

		span {
			width: 100%;
			font-size: 1.5em;
			font-weight: 700;
			font-family: $admin-control-font-family;
			@include in('<.is-large') {
				font-size: 3em;
			}
		}

		@include in('<.__selector') {
			background-color: transparent;
			&:hover {
				background-color: $admin-control-hover-color !important;
				color: $admin-control-hover-text-color !important;
			}
			@include in('^.is-selected') {
				background-color: $admin-control-selected-color;
				color: $admin-control-text-color;
			}
		}

		@include in('<.__box') {
			border: $admin-control-border-box-size solid $admin-control-border-color;
			border-radius: 0 !important;
			border-right-width: 0;
		}

		@include in('<.__digits') {
			height: $select-item-digits-height;
			background-color: rgba($wp-admin-blue-color, 0.1);
			&:hover {
				background-color: $admin-control-hover-color !important;
				color: $admin-control-hover-text-color !important;
			}
			span {
				width: 100%;
				font-size: 3em;
				font-weight: 700;
				font-family: $admin-control-font-family;
			}
		}
	}
}
