// Admin Title Indicator Component --------------------------------------------]

$title-indicator-color-opacity: 0.2;
$title-indicator-color: $wp-admin-blue-color;

.#{$title-indicator-class} {
	padding: 0 12px 1px;
	border-radius: 15px;
	margin-left: 15px;
	background-color: rgba($title-indicator-color, $title-indicator-color-opacity);
	color: $title-indicator-color;
	transition: opacity $transition-short-time $transition-function;
	opacity: 1;

	&.component-color-indicator {
		display: inline-block;
		vertical-align: text-bottom;
		border-radius: revert;
	}
	.components-panel__body.is-opened & {
		opacity: 0;
	}

	@each $name, $color in $custom-colors {
		&.#{$name} {
			background-color: rgba($color, $title-indicator-color-opacity);
			color: $color;
		}
	}
}
